---
// import { Image } from "astro:assets";
// import { getCollection } from "astro:content";

import Layout from '../../layouts/Layout.astro';
import Card from '../../components/cards/Card.astro';

import CardConstruction from '../../components/cards/CardConstruction.astro';

import '../../utility/styles/wrapper-styles.css';
import '../../utility/styles/main-styles.css';
import '../../utility/styles/scrollbox-styles.css';

import changelog from './changelog.json';
---

<Layout title="RUDY TUESDAY">

    <main>

        <section>
			<h2>ABOUT</h2>

			<div class="card-wrapper">

				<Card
					title="RUDOLF DIENSTAG"
					icon="fa-person-booth">
					<p>i have not yet written an artist statement.</p>
					<p>please enjoy the site.</p>
				</Card>

			</div>

		</section>

		<section id="sitemap">
			
            <h2>SITE INFORMATION</h2>

            <div class="card-wrapper two-card-flex">
                <Card
                title="SITEMAP"
                icon="fa-sitemap">
                    <ul>
                        <li><a href="">index</a></li>
                        <li>
                            <a href="/about">about</a><em>(you are here)</em>
                                <ul>
                                    <li><a href="/about#sitemap">sitemap</a></li>
                                </ul>
                        <li><a href="/archive">archive</a></li>
                        <li><a href="/gallery">gallery</a></li>
                        <li><a href="/projects">projects</a></li>
                        <li><a href="/links">links</a></li>
                        <ul>
                            <li><a href="/links/#webdesign">web-design</a>
                            <li><a href="/links/#art-comics">art-comics</a>
                                <li><a href="/links/#assets-references">assets-references</a>
                                <li><a href="/links/#other">other</a>

                            </li>
                        </ul>
                        <li><a href="/message">message</a></li>
                        <li><a href="" aria-label="external">guestbook</a></li>
                        <li><a href="" aria-label="external">newsletter</a></li>
                        <li><a href="/rss">rss</a></li>
                        <li><a href="/404">not_found.</a></li>
                    </ul>
                        </Card>
                
                <Card
                title="BUILD TOOLS"
                icon="fa-code">
                    <ul>
                        <li><b>LANGUAGES</b></li>
                            <ul>
                                <li>astro</li>
                                <li>typescript</li>
                                <li>javascript</li>
                                <li>css</li>
                                <li>markdown</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><b>DEPENDENCIES</b></li>
                            <ul>
                                <li>set.prototype.intersection</li>
                            </ul>
                        </ul>
                    </ul>
                    <ul>
                        <li><b>FONTS</b></li>
                            <ul>
                                <li>darumadrop</li>
                                <li>averia libre</li>
                                <li>font awesome</li>
                            </ul>
                        </li>
                    </ul>
                </Card>
				
            </div>

			<div class="card-wrapper">
				<Card
				title="CHANGELOG"
				icon="fa-pencil">
					<div class="scrollbox scrollbox-s scrollbox-light">
						<div class="scrollbox-list">
							{changelog.map((change) => {
								return <li>
									<a href={`https://github.com/rudytues-day/archive/commit/${change.id}`} aria-label="external">
										<b>{change.date} :</b> {change.message}<em>{change.details && "— " + `${change.details}` + " "}</em>({change.id.slice(0,6)})
									</a>
								</li>
							})}
						</div>
					</div>
				</Card>
            </div>
            <div class="card-wrapper">
                <Card
                title="CREDITS"
                icon="fa-ribbon">
                    <p style="text-center">thank you to the fandom coders for supporting me on this journey</p>
                </Card>
			</div>

        <div class="card-wrapper card-s" style="width:40ch">

        </div>



		</section>

	</main>

</Layout>

<style>


    .sitemap li:has(> ul)::marker {
        content: '';
    }

@media all and (min-width: 700px) {

	.card-masonry > * {
		margin: 1em;
	}

}

@media all and (min-width: 1000px) {}

@media all and (min-width: 1200px) {}

</style>
