---
// import { Image } from "astro:assets";
// import { getCollection } from "astro:content";

import Layout from '../../layouts/Layout.astro';
import Card from '../../components/cards/Card.astro';


import '../../utility/styles/wrapper-styles.css';
import '../../utility/styles/main-styles.css';
import '../../utility/styles/scrollbox-styles.css';

import changelog from './changelog.json';
---

<Layout title="RUDY TUESDAY">

    <main>
        <section>
			<h2>ABOUT</h2>

			<div class="card-masonry">

				<Card
					title="RUDOLF DIENSTAG"
					icon="fa-person-booth">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta ex quas dolorum exercitationem voluptas reiciendis necessitatibus ab nobis provident iure deserunt consectetur reprehenderit, praesentium quaerat alias. Similique accusantium sunt deserunt?</p>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit a nam obcaecati nobis doloremque qui, et delectus rerum ex hic?</p>
				</Card>

			</div>

		</section>

		<section id="sitemap">
			
            <h2>SITE INFORMATION</h2>

            <div class="card-masonry">
                <Card
                title="SITEMAP"
                icon="fa-sitemap">
                    <ul>
                        <li><a href="">index</a></li>
                        <li><a href="">about</a> <em>(you are here)</em></li>
                        <li><a href="">archive</a></li>
                        <li><a href="">gallery</a></li>
                        <li><a href="">projects</a></li>
                        <li><a href="">links</a></li>
                        <li><a href="">message</a></li>
                        <li><a href="" aria-label="external">guestbook</a></li>
                        <li><a href="" aria-label="external">newsletter</a></li>
                        <li><a href="">rss</a></li>
                        <li><a href="">not_found.astro</a></li>
                    </ul>
                        </Card>
                
                <Card
                title="BUILD TOOLS"
                icon="fa-code">
                    <ul>
                        <li><b>LANGUAGES</b></li>
                            <ul>
                                <li>astro</li>
                                <li>typescript</li>
                                <li>javascript</li>
                                <li>css</li>
                                <li>markdown</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li><b>DEPENDENCIES</b></li>
                            <ul>
                                <li>set.prototype.intersection</li>
                            </ul>
                        </ul>
                    </ul>
                    <ul>
                        <li><b>FONTS</b></li>
                            <ul>
                                <li>darumadrop</li>
                                <li>averia libre</li>
                                <li>font awesome</li>
                            </ul>
                        </li>
                    </ul>
                </Card>
				
            </div>

			<div class="card-wrapper">
				<Card
				title="CHANGELOG"
				icon="fa-pencil">
					<div class="scrollbox scrollbox-s scrollbox-light">
						<div class="scrollbox-list">
							{changelog.map((change) => {
								return <li>
									<a href={`https://github.com/rudytues-day/archive/commit/${change.id}`} aria-label="external">
										<b>{change.date} :</b> {change.message}<em>{change.details && "— " + `${change.details}` + " "}</em>({change.id.slice(0,6)})
									</a>
								</li>
							})}
						</div>
					</div>
				</Card>
			</div>

		

        <div class="card-sm">

            <Card
            title="CREDITS"
            icon="fa-ribbon">
                <p>thank you to the fandom coders for supporting me on this journey</p>
            </Card>
        </div>



		</section>

	</main>

</Layout>

<style>


    .sitemap li:has(> ul)::marker {
        content: '';
    }
    
	.card-masonry {
		margin: 3em auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		gap: 1.5em;
		height: 100%;
	}

@media all and (min-width: 700px) {

	.card-masonry {
		display: flex;
		justify-content: center;
		max-width: 800px;
	}

	.card-masonry > * {
		margin: 1em;
	}

}

@media all and (min-width: 1000px) {}

@media all and (min-width: 1200px) {}

</style>
