---

import { getCollection } from "astro:content";
import { slugify, formatDate, sortByUploadDate } from "../../utility/utils";

const projects = await getCollection("projects");

// sort tags by frequency

// const allEntryTags = entries.map((entry => 
// 	entry.data.tags)).reduce((accumulator, value) => accumulator.concat(value), [])

// let frequency = {}
// allEntryTags.forEach(tag => {
// 	if (frequency[tag]) {
// 		frequency[tag]++;}
// 	else {frequency[tag] = 1}
// })

// function sortByFrequency(a, b) {
// 	return frequency[a] - frequency[b];
// }

---

<aside>

	<div class="uploads">
        <h2>RECENT UPLOADS</h2>
        <ul class="scrollbox">
			<li><b>RUDYTUES.DAY</b> : working on art log</li>
        </ul>
    </div>

</aside>

<style>

	b {
		font-family: var(--display);
		font-weight: normal;
	}

	aside {
		background-color: #111;
		color: var(--white-clr);
		min-width: 100%;
	}

	aside > * {
		margin: 5em 1em;
	}

	.search {
		text-align: center;
	}

	.search-form {
		margin: 2em auto 3em auto;
	}

	#search {
		background-color: var(--primary-clr-med);
		border-radius: 1em;
		margin: 1em 0.75em;
		color: inherit;
		width: 275px;
		font-style: italic;
		padding-inline: 0.75em;
		border-color: var(--primary-clr-med);
	}

	#search:focus {
		border-color: var(--primary-accent-clr);
	}

	.search-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	button {
		color: var(--white-clr);
		border: none;
		background-color: var(--primary-clr-dark);
		padding: 0;
		font-size: 1.1rem;
		transition: 200ms;
		cursor: pointer;
	}

	button:hover,
	button:focus {
		color: var(--primary-accent-clr)
	}

	h2 {
		color: var(--white-clr);
		font-family: var(--display);
		text-align: center;
		margin-bottom: 1em;
	}

    .tags ul {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		padding: 0;
		gap: 0.4em;
        justify-content: center;
        margin: 2em;
	}

    .tags li {
		background-color: var(--primary-clr-med);
		color: var(--white-clr);
		font-family: var(--display);
		text-transform: uppercase;
		padding: 0.125em 0.3em 0.4em 0.3em;
		line-height: 1;
		border-radius: 0.25em;
		transition: ease 0.2s;
	}

	li a {
		transition: 200ms;
	}

	li a:hover {
		color: var(--primary-accent-clr)
	}

	.scrollbox {
		background: var(--primary-clr-med);
		overflow: scroll;
		overflow-x: hidden;
		text-wrap: wrap;
		height: 200px;
		list-style: none;
		margin: 3em 2em;
		padding: 0.25em 0.5em;
		text-align: left;
		border-radius: 0.5em;
	}

	.scrollbox li {
		margin: 0.25em;
		border-bottom: 1px dotted #fff;
	}

	.icons {
		display: inline-block;
		font-size: 0.9rem;
		padding: 0em 0.25em;
	}

	.scrollbox i {
		margin: 0em 0.125em;

	}

	@media all and (min-width: 700px) {
		aside {
			display: grid;
			grid-template-areas: 
				'uploads search'
				'tags tags';
			padding: 4em 1em;
		}

		aside > * {
			margin: 0;
		}

		.uploads {
			grid-area: uploads;
		}

		.search {
			grid-area: search;
			margin-inline: 3em;
		}

		.tags {
			grid-area: tags;
		}

	}

	@media all and (min-width: 1000px) {

		aside {
			display: block;
		}

		aside > * {
			
		}

	}

</style>

