---
import AskboxLayout from "../../layouts/AskboxLayout.astro";
import CardAskbox from "../../components/cards/CardAskbox.astro";

import CardFolder from "../../components/cards/CardFolder.astro";

import { slugify } from "../../utility/scripts/format-fxn";
import { tagsByFrequency } from "../../utility/scripts/sort-fxn";

import '../../utility/styles/main-styles.css';
import '../../utility/styles/wrapper-styles.css';
import '../../utility/styles/form-styles.css';
import '../../utility/styles/tag-styles.css';

import { getCollection } from "astro:content";
import { render } from "astro:content";

const questions = await getCollection("questions");
const qA = questions.filter(q => q.data.faq === undefined);
const faqQ = questions.filter(q => q.data.faq === true);

import { formatDate } from "../../utility/scripts/format-fxn";

const allQuestionTags = tagsByFrequency(questions);
const askboxTagCloud = allQuestionTags

---
<AskboxLayout pageTitle="ASKBOX">
    <h1 slot="h1-title">ASKBOX</h1>
                <div class="question-wrapper">
                    { qA.map(async (q) => {
                        const { Content } = await render(q);
                        return (
                            <div class="q-card-wrapper">
                                <CardAskbox
                                    user={q.data.user}
                                    date={q.data.date}
                                    tags={q.data.tags}
                                    collapsed={q.data.collapsed}
                                >
                                    <Content />
                                </CardAskbox>
                            </div>
                        )
                    })}
                </div>
            </div>
    </main>
    <style>

        .two-column {
            margin: 4.5em 1em;
            display: grid;
            gap: 1em;
        }

        .folder {
            margin: 0 1em 3em 1em
        }
        .q-card-wrapper {
            margin: 0 1em 2em 0em
        }

@media all and (max-width: 700px) {
    label {
        text-align: center;
        justify-content: center;
    }

    textarea {
        max-width: 100%;
        resize: none;
    }

}
@media all and (min-width: 700px) {

}

@media all and (min-width: 1000px) {
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: start;

    }
}
    </style>
</Layout>