---
import AskboxLayout from "../../layouts/AskboxLayout.astro"
import CardAskbox from "../../components/cards/CardAskbox.astro"
import Card from "../../components/cards/Card.astro";
import Layout from "../../layouts/Layout.astro";

import CardFolder from "../../components/cards/CardFolder.astro";

import '../../utility/styles/wrapper-styles.css';
import '../../utility/styles/form-styles.css';

import { getCollection } from "astro:content";

// const questions = await getCollection("questions");
import faq from "./faq.md";
import { render } from "astro:content";
const {Content} = await render(faq)
console.log(faq)
import CardConstruction from "../../components/cards/CardConstruction.astro";

---
<Layout title="ASKBOX">
    <main>

        <div class="wrapper" style="margin-bottom: 3em;">
            <CardConstruction>
                <p>this page is currently under construction.</p>
                <p>watch your step!</p>
            </CardConstruction>
        </div>
        
        <h1>ASKBOX</h1>
            
        
            <div class="folder-wrapper">
                <CardFolder
                    tabTitle="ASK"
                    index={true}>
                    
                    <form
                        action="https://formspree.io/f/xnnaeobz"
                        method="POST"
                        class="ask"
                        >
                        <div class="form-flex">
                            <label for="name">NAME</label>
                            <input 
                                type="text" 
                                name="name" 
                                id="name"
                            />
                        </div>

                        <!-- <div class="form-flex">
                                <label for="email">EMAIL</label>
                                <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    />
                            </div> -->

                        <label for="question">QUESTION</label>
                            <textarea
                                class="ask"
                                name="question"
                                id="question"
                                rows="5"
                                required=""
                                ></textarea>

                        <button type="submit">SEND</button>
                    </form>

                </CardFolder>
            <CardFolder
                tabTitle="FREQUENTLY ASKED QUESTIONS"
                index={false}>
                    <Content />
                </CardFolder>
            </div>

    </main>
</Layout>