---
import '../../utility/styles/card-styles.css'
---

<div class:list={'card'} style="max-width: 50ch; text-align: center;">
    <h1 class:list={['card-title']}>
        <i class:list={[`fas fa-person-digging`]} aria-label="none"></i>
		<span>UNDER CONSTRUCTION</span>
    </h1>
    <div class:list={'card-body'}>
        <slot />
    </div>  
</div>
<style></style>