---
interface Props {
	title: string;
	icon: string;
}

import '../../utility/styles/card-styles.css'

const { title, icon } = Astro.props as Props;
---

<div class:list={'card'}>
    <h1 class:list={['card-title']}>
        <i class:list={[`fas ${icon}`]} aria-label="none"></i>
		<span>{title}</span>
    </h1>
    <div class:list={'card-body'}>
        <slot />
    </div>  
</div>