---
import { formatDate } from "../../utility/utils.js";

interface Props {
	slug: string;
	title: string;
	date: Date;
}

const { slug, title, date, } = Astro.props as Props;
---

<div class="preview-card">

	<div class="wrapper">
		<div class="title-wrapper">
			<h1></h1>
			<h1>{formatDate(date)}</h1>
		</div>
		<div class="preview">
			<h2>{title}</h2>
			<slot />
		</div>
	</div>
	<a href="" class="read-more">READ MORE</a>

</div>

<style>

.preview-card {
	/* display: flex;
	justify-content: space-between;
	gap: 1em;
	align-items: end; */
	margin: 2em 0em;
	border-radius: 8px;
}

.title-wrapper {
	display: flex;
	justify-content: space-between;
	background: var(--primary-clr-dark);
}

.read-more {
	display: block;
}

.preview-card {
	border: 2px solid black;
}

h1 {
	font-size: 1.5rem;
	text-align: left;
	margin: 0;
	color: white;
	
	padding: 0.5em 1em;
}

h1:first-of-type:before {
	content: '\f1ea';
	font-family: 'Font Awesome 6 Pro';
        display: inline-block;
        font-weight: bold;
		font-size: 1.25rem;
		margin-right: 0.75em;   
}
h2 {
	font-size: 1.325rem;
	margin: 1em;
}

	.preview {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		margin: 0em 1em 1em 1em
	}

	a {
		font-family: var(--display);
		font-size: 1.325rem;
		color: #000;
		text-decoration: none;
		text-align: right;
		margin: 0em 1em 1em 1em;
	}

	a::after {
		content: '\f101';
		font-family: 'Font Awesome 6 Pro';
        display: inline-block;
        font-weight: bold;
		font-size: 1rem;
		margin-left: 0.5em;   
	}

	@media all and (max-width: 700) {
		.preview {
			-webkit-line-clamp: 4;

		}
	}

</style>