---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from '../layouts/Layout.astro';
import Card from '../components/cards/Card.astro';

---

<Layout title="RUDY TUESDAY">

	<div class="three-column">

		<main>

			<section>
				<header>
					<h1>LOOK UPON MY WORKS, YE MIGHTY, AND DESPAIR</h1>
					<p>... nothing beside remains</p>
				</header>
			</section>
	
			<section class="newsletter">
				<h1>NEWS</h1>
				<div class="card-wrapper">
					
					<Card
						title="NEWSLETTER"
						icon="fa-newspaper">
						<div class="news-scrollbox">
							<div class="newsletters">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias deserunt iure, consequatur cum laudantium dolorem nesciunt ipsa in, dolor pariatur enim explicabo, adipisci asperiores. Modi expedita facilis deleniti commodi consequatur, perferendis ipsa ex dicta tempora amet natus quo? Maxime pariatur sint, amet ipsum doloremque quasi fugiat at, provident praesentium assumenda quidem! Culpa, suscipit minima! Molestiae, numquam quam asperiores ab voluptatum nesciunt molestias veniam minima, sapiente consequatur a ducimus tempore repellat corrupti illum placeat sequi ipsum quis quos dolore similique amet. Soluta voluptates facilis temporibus rerum illum vitae voluptate molestias quod odio! Saepe maxime quibusdam dolore vitae iusto, quo corrupti eum aperiam exercitationem, necessitatibus velit, enim dignissimos facilis magni dolores cumque porro aliquam voluptate nulla? Quidem beatae, obcaecati necessitatibus vitae dolore possimus quod voluptatem natus est doloribus aspernatur nisi sequi architecto numquam maiores modi eligendi dolor labore enim illum nulla odit illo ipsam reiciendis. Reiciendis esse quam itaque qui, doloribus, quas similique natus modi commodi hic tempore velit laborum unde. Consequuntur atque, reiciendis numquam neque consectetur ipsam ex non enim incidunt tempore aut labore voluptatibus nulla consequatur officia esse, maiores doloribus in? Commodi, ea. Quasi magni velit placeat deserunt, tempore odit? Natus, ullam laborum sit neque at vero vel beatae enim dolorem quisquam aperiam harum repellendus libero, impedit, mollitia nobis omnis officiis eligendi iusto fugiat. Temporibus optio iste quasi saepe excepturi id delectus. Totam, itaque accusamus alias ad enim veritatis provident cupiditate. Doloribus, dignissimos facilis eum qui ea quam officiis iure architecto voluptas veritatis veniam corporis placeat quaerat quisquam, accusamus possimus minus! Et in maiores quam laborum tenetur tempora assumenda nulla ad libero, delectus quod quas numquam esse est incidunt adipisci sunt harum qui dicta neque reiciendis. Recusandae unde, ullam numquam vero asperiores reiciendis. Blanditiis, vitae cupiditate magni quod nostrum tempore et atque facere molestias aliquid, reiciendis optio omnis iusto? Repellendus fugiat porro culpa excepturi quia perferendis ex ipsum non laborum labore illo ratione vel, nulla mollitia aliquid aliquam ad eius. Dignissimos fuga cupiditate nostrum ut optio voluptas, voluptatum laboriosam deserunt molestias amet iure odit explicabo velit assumenda quod, labore quos fugit accusantium eaque exercitationem eveniet maiores. Totam sit illo porro quasi quas ullam accusantium aspernatur veritatis dolore. Sunt inventore molestiae ipsum porro ut placeat dolore libero quisquam alias! Quisquam iusto expedita, dicta adipisci nobis ad eius in odio? Dolores quaerat provident iusto repellat quas, sint blanditiis. Natus facilis laborum dicta nulla ea veniam, harum labore quia deserunt eligendi quisquam quasi debitis vitae architecto. Rem saepe quisquam itaque ducimus, provident id eaque eos odio asperiores deserunt ipsum harum corrupti deleniti blanditiis hic nostrum vitae voluptate esse praesentium vel iure eligendi tempora ex! Incidunt, rem iure! Quas ea veniam quam earum? At provident optio culpa quibusdam modi incidunt eveniet id voluptatem cupiditate, quos facilis quaerat expedita rem earum exercitationem inventore dolor illo vero eos pariatur tenetur voluptatum aspernatur voluptatibus. Veniam dolor maiores quam sint consectetur ab eius sequi. Ullam dicta labore voluptas autem non, maxime eius eaque fugit quidem aliquam at, praesentium numquam voluptatibus quis exercitationem beatae laboriosam, nam officia incidunt commodi!</p>							</div>
						</div>
					</Card>
	
<Card
	title="SUBSCRIBE"
	icon="fa-paper-plane">
	<p>enter your email below to subscribe to my newsletter where i send out project and site updates, commission opening notifications, a round up of new entries to my art log and other goodies every so often.</p>
	<form
		action="https://buttondown.com/api/emails/embed-subscribe/rudytuesday"
		method="post"
		target="popupwindow"
		onsubmit="window.open('https://buttondown.com/rudytuesday', 'popupwindow')"
		class="embeddable-buttondown-form"
		>
		<label for="bd-email">Enter your email</label>
		<input type="email" name="email" id="bd-email" />
		
		<input type="submit" value="subscribe" />
		<p>powered by <a href="https://buttondown.com/refer/rudytuesday" target="_blank"></a>buttondown</a></p>
	</form>
</Card>
				</div>

			</section>
		</main>

		<aside class="column leftColumn">
			<div class="column-wrapper">
				<div class="image"></div>
				<h2>LINKS</h2>
				<ul>
					<li><a href="">GITHUB</a></li>
					<li><a href="">CODEPEN</a></li>
					<li><a href="">FEDIVERSE</a></li>
					<li><a href="">BLUESKY</a></li>
					<!-- <li><a href="">TWITTER</a></li> -->
					<li><a href="">POMF.TV</a></li>
				</ul>
			</div>
			<div class="column-wrapper">
				<div class="image"></div>
				<h2>SUPPORT ME</h2>
				<ul>
					<li><a href="">KO-FI</a></li>
					<li><a href="">BOOSTY</a></li>
					<li><a href="">COMMISSION</a></li>
				</ul>
			</div>
		</aside>

		<aside class="column rightColumn">
			<div class="column-wrapper">
				<div class="image"></div>
				<h2>ABOUT</h2>
					<p>rudy tuesday is a queer and neurodivergent webMaster, erotic artist and content collector.</p>
					<p>he has no greater achievements or accolades but he does have a very nice website.</p>
				<p><a href="/about">READ MORE <i class="fas fa-angles-right"></i></a></p>
			</div>
		</aside>

	</div>

</Layout>

<style>

	section:first-of-type header p {
		margin: auto;
	}

	section:first-of-type h1 {
		margin: 1em;
	}
	.news-scrollbox {
		margin: 1em;
		border: 2px solid #000;
		border-radius: 1em;
		overflow: auto;
		overflow-x: hidden;
		height: 350px;
	}

	button,
	input[type="submit"] {
		background-color: var(--primary-clr-dark);
		color: var(--white-clr);
		margin: auto;
		padding: 0.125em 0.75em 0.3em 0.75em;
		font-family: var(--display);
		text-transform: uppercase;
		font-size: 1.5rem;
		line-height: 1.5;
		border-radius: 12px;
		border-color: #000;
		width: 8em;
		cursor: pointer;
		transition: color 0.25s ease;
	}
                
	button:hover,
	input[type="submit"]:hover {
		color: var(--accent-clr); 
	}

	.newsletters {
		/* height: auto; */
	}

	.three-column {
		display: flex;
		flex-direction: column;
	}

	main {
		z-index: -9;
		border-radius: 8px;
		box-shadow: var(--primary-clr-dark) 0 0 0 20px;
	}

	.image {
		aspect-ratio: 1/1;
		width: 150px;
		margin: 3em auto;
		background-color: #fff;
		border-radius: 100%;
	}

	aside {
		background: var(--primary-clr-dark);
		color: white;
	}

	aside h2,
	aside a {
		font-family: var(--display);
		font-size: 1.5rem;
	}

	aside p {
		margin: 1em 2em;
		text-align: center;
	}

	aside ul {
		list-style: none;
		text-align: center;
		padding: 0;
	}
	aside li {
		margin-bottom: 0.5em;
	}

	.column-wrapper {
		margin-block: 5em;
	}

	form {
		display: grid;
		gap: 1em;
	}

	header {
		text-align: center;
		margin-bottom: 4em;
	}

	section p {
		margin: 3em 0;
		text-align: center;
	}

	section:last-child {
		margin-bottom: 2.75em;
	}

	section p {
		margin: 1em;
		max-width: 800px;
	}

	section:last-child {
		margin-bottom: 0.25em;
	}

	section:last-child::after {
		margin-bottom: 0em;
	}

	section p {
		margin: 1em;
		max-width: 800px;
	}

	.card-wrapper {
		margin: 3em auto;
		max-width: 750px;
	}

	.visit {
		margin: auto;
		font-size: 2rem;
		color: var(--primary-clr-dark);
		text-align: center;
		font-family: var(--display);
		text-decoration: none;
		transition: ease 0.2s;
	}

	.visit .fas {
		font-size: 0.8em;
	}

	.visit:hover {
		color: var(--primary-accent-clr)
	}

	b {
		font-family: var(--display);
		font-size: 1.125rem;
    }

@media all and (min-width: 1250px) {

	section {
		margin: 3em auto;
	}

	section p {
		margin: auto;
	}

	.three-column {
		display: grid;
		grid-template-columns: 300px 1fr 300px;
		grid-template-areas: 'left middle right'
	}

	.leftColumn {
		grid-area: left
	}

	.rightColumn {
		grid-area: right;
	}

	main {
		grid-area: middle;
	}
	.grid-masonry {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 800px;
	}

}

@media all and (min-width: 1200px) {

	.card-wrapper {
		padding: 0em 1em;
		margin: 5em auto;
	}

}

</style>
