:root {
    --primary-clr-dark: hsl(0, 0%, 7%);
    --primary-clr-med: hsl(283, 10%, 14%);
    --primary-clr-light: hsl(263, 10%, 20%);
    --primary-clr-200: hsl(261, 10%, 40%);

    --primary-accent-clr: #F40662;
    --primary-link-clr: #BF95A5;
    --white-clr: #ffffff;

    --bg-clr: #FBFBFB;
    --display: "Darumadrop One";
    --body: 'Averia Libre';
}

*,
*::before,
*::after {
box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    background: var(--bg-clr);
    color: var(--primary-clr-dark);
    font-family: var(--body);
    line-height: 1.6;
    font-size: 1rem;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

h1, h2, h3, h4 {
    text-wrap: balance;
    text-transform: uppercase;
    font-weight: normal;
}

ul[role='list'],
ol[role='list'] {
      list-style: none;
}

a:not([class]) {
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, button,
textarea, select {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

.fa-ban {
    color: var(--primary-accent-clr);
}

.fa-feather {
    color: var(--primary-clr-200);
}
