---
---

<footer>
    <p>all works belong to rudy tuesday unless otherwise specified. unauthorized use and duplication is prohibited.</p>
</footer>

<style>

    footer {
        background-color: var(--primary-clr-dark);
        color: var(--white-clr);
        padding: 1em;
        grid-area: footer;
    }

</style>