---
---
<footer>
    <ul class="bottom-nav">
        <li><a href="/about">ABOUT</a></li>
        <li><s>FAQ</s></li>
        <!-- <li><a href="/about#faq">FAQ</a></li> -->
        <li><a href="/about#sitemap">SITEMAP</a></li>
        <li><a href="https://ux.rudytues.day">UX</a></li>
        <!-- <li><a href="">SUBSCRIBE</a></li> -->
        <li><a href="/tips">TIPS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><s>RSS</s></li>
    </ul>
    <p>all works belong to rudy tuesday unless otherwise specified. unauthorized use and duplication is prohibited.</p>
</footer>

<style>

    footer {
		text-align: center;
        background-color: var(--primary-clr-dark);
        color: var(--white-clr);
        padding: 1em;
		text-wrap: balance;
    }

    .bottom-nav {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 1em;
		list-style: none;
        line-height: 1;
		gap: 1em;
		font-family: var(--display);
		font-size: 1.5rem;
	}

    p {
        margin: 1em;
     }

</style>