---
import { Image } from 'astro:assets';
import chainMobile from '/imgs/chain_1.png';
---

<!-- <img src="/public/imgs/chain_1.png" alt="test"> -->

    <header>
        <div id="hero">
            <div class="chains">
                <Image src={chainMobile}
                    alt=""
                    width="200"
                    height="200"
                />
                <span>test</span>
                <!-- <img src="assets/chain_1.png" class="chain desktop-chain" aria-label="none";>
                <img src="assets/chain_2.png" class="chain desktop-chain" aria-label="none";>
                <img src="assets/chain_3.png" class="chain desktop-chain" aria-label="none";>
                <img src="assets/chain_3.png" class="chain desktop-chain" aria-label="none";>
                <img src="assets/chain_1.png" class="chain" aria-label="none";> -->
            </div>
            <div class="header-logo">
                <!-- <img src="assets/header_r2_mobile.png" alt="darby" class="darby"> -->
                <span id="rudy-tuesday">RUDY<br>TUES<span class="hover">DAY</span></span>
            </div>
        </div>
    </header>
    <ul class="menu">
        <li class="toggle">
            <span class="title">MY WORKS</span>
            <i class="fas fa-lock" id="lock" aria-label="menu toggle"></i>
        </li>
        <li class="item"><a href="/">HOME</a></li>
        <li class="item"><a href="/gallery">GALLERY</a></li>
        <li class="item"><a href="/archive">ARCHIVE</a></li>
        <li class="item"><a href="/projects">PROJECTS</a></li>
    </ul>
</header>

<style>
    
    header {
        background-color: var(--primary-clr-dark);
        min-width: 100%;
        padding: 1em;
    }

    .menu {
        color: var(--white-clr);
        max-width: 100%;
        margin: 0.5em;
        padding: 0;
        font-size: 1.5rem;
        font-family: var(--display);
        text-transform: uppercase;
        list-style: none;
        text-align: center;
    }

    .item {
        padding: 0.25em;
        margin: auto;
    }

    .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .toggle i {
        font-size: 0.8em;
    }

    .toggle:has(+ .item.active ){
        margin-bottom: 0.25em;
    }

    .item {
        display: none;
    }
    
    .item.active {
        background-color: var(--primary-clr-med);
        display: block;
    }

    .item:nth-child(2) {
        border-radius: 8px 8px 0px 0px;
    }
    .item:nth-child(5) {
        border-radius: 0px 0px 8px 8px;
    }

    .image {
        margin: 2rem auto;
        background-color: white;
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }

    #hero {
            height: 500px;
            position: relative;
            background: var(--bg-clr);
        }

        .hero img {
            position: absolute;
            transition: ease 0.5s;
        }

        .darby {
            height: auto;
            position: absolute;
            left: 25%;
        }

        #rudy-tuesday {
            color: var(--primary-clr-dark);
            font-size: 3.25em;
            font-family: var(--display);
            font-weight: 400;
            text-align: center;
            line-height: 0.85;
            text-decoration: none;
            position: absolute;
            top: 1.3em;
            right: 16%;
            transform: translateY(-200%);
            transition: translateY 0.25s;
        }

        #rudy-tuesday span {
            color: var(--link-clr);
            transition: color 0.25s ease;
        }
    
        #rudy-tuesday:hover span {
            color: var(--primary-clr-dark);
        }
        
        #rudy-tuesday::after {
            z-index: -1;
            content: '\f0c1';
            font-family: "Font Awesome 6 Pro";
            position: absolute;
            font-size: 2.5em;
            opacity: 30%;
            left: 10%;
            bottom: -20%;
            color: var(--link-clr);
            transition: 300ms;
        }
    
        #rudy-tuesday:hover::after {
            color: var(--accent-clr);
            opacity: 80%;
        }

        .hover {
            transition: ease-in 0.25s;
        }

        header:hover > .header-logo .hover {
            color: var(--accent-clr)
        }

        .chain {
            position: absolute;
            height: 120%;
        }

        .chain:first-of-type {
            left: 10%;
        }

        .chain:nth-of-type(2) {
            left: 22%;
        }

        .chain:nth-of-type(2) {
            right: 22%;
        }

        .chain:nth-of-type(3) {
            right: 20%;
        }

        .chain:nth-of-type(4) {
            right: 5%;
        }

        .chain:nth-of-type(5) {
            left: 6%;
        }

        .chain:last-of-type {
            right: 10%;
        }

        .desktop-chain {
            transform: translateY(-101%);
            transition: 0.4s;
        }

        .chains {
            overflow: hidden;
        }

        #header:hover {
            background-image: var(--header-image)
        }


@media all and (min-width: 700px) {

    .menu {
        display: flex;
        flex-direction: row;
    }

    .item {
        display: block;
        background-color: var(--primary-clr-dark);
	}

    .image {
        margin: 2rem auto;
    }
    
    .toggle {
        display: none;
    }

    .darby {
        left: 27%;
    }
    
    #rudy-tuesday {
        transform: translateY(0%)
    }

@media all and (min-width: 1000px) {
    
    
    #rudy-tuesday {
        right:30%
    }
    
    .desktop-chain {
        transform: translateY(0);
    }

}

</style>

<script>

const toggle = document.getElementById("lock");
const menuItem = document.querySelectorAll(".item");

toggle?.addEventListener("click", () => {
    menuItem.forEach((item) =>
    item.classList.toggle("active"));
    if (toggle.classList.contains("fa-lock")) {
        toggle.classList.remove("fa-lock");
        toggle.classList.add("fa-unlock-keyhole");
    } else {
        toggle.classList.remove("fa-unlock-keyhole");
        toggle.classList.add("fa-lock");
    }
})


</script>