---
import { Image } from 'astro:assets';
import chain1 from '../utility/image/chain_1.png';
import chain2 from "../utility/image/chain_2.png";
import chain3 from "../utility/image/chain_3.png";
import darby from "../utility/image/header_darby.png";
---

<header>
    <a href="/">
        <div class="hero">
                <div class="chains">
                    
                    <div class="desktop-chain one-chain-1"></div>
                    <div class="two-chains"></div>
                    <div class="desktop-chain one-chain-2"></div>
                    <div class="desktop-chain one-chain-2"></div>
                    <div class="one-chain-1"></div>
                    <div class="desktop-chain two-chains"></div>
                
                </div>
                <div class="header-logo">
                    <Image src={darby} 
                        alt=""
                        class="darby"
                        height="225"
                    />
                    <span id="rudy-tuesday">RUDY<br>TUES<span class="hover">DAY</span></span>
                </div>
            </div>
        </div>
    </a>
    <ul class="menu">
        <li class="toggle">
            <a href="/"><span class="title">RUDY TUESDAY</span></a>
            <i class="fas fa-lock" id="lock" aria-label="menu toggle"></i>
        </li>
        <li class="link"><a href="/">HOME</a></li>
        <li class="link has-submenu"><a tabindex="0">WORKS</a>
            <ul class="submenu">
                <li class="sublink"><a href="https://ux.rudytues.day">UX</a></li>
                <li class="sublink"><a href="/archive">ARCHIVE</a></li>
                <li class="sublink"><a href="/gallery">GALLERY</a></li>
                <li class="sublink"><a href="/projects">PROJECTS</a></li>
            </ul>
        </li>
        <li class="link has-submenu"><a tabindex="0">EXTRAS</a>
            <ul class="submenu">
                <li class="sublink"><s>DIARY</s></li>
                <li class="sublink"><a href="/links">LINKS</a></li>
                <li class="sublink"><a href="https://toybox.rudytues.day">TOYBOX</a></li>
            </ul>
        </li>
        <li class="link has-submenu"><a tabindex="0">CONTACT</a>
            <ul class="submenu">
                <li class="sublink"><a href="/contact">MESSAGE</a></li>
                <li class="sublink"><a href="/askbox">ASK BOX</a></li>
                <li class="sublink"><a href="/newsletter">NEWSLETTER</a></li>
                <li class="sublink"><a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34043-2c">GUESTBOOK</a></li>
            </ul>
        </li>
    </ul>
</header>

<style>
    header {
        min-width: 100%;
    }

    .hero {
        height: 225px;
        position: relative;
        background: var(--bg-clr);
    }

    .hero img {
        position: absolute;
    }

    .darby {
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        transition: 
            ease-in-out margin 500ms,
            forwards left 500ms,
            forwards right 500ms;
    }

    #rudy-tuesday {
        color: var(--display-clr);
        font-size: 3.25em;
        font-family: var(--display-font);
        font-weight: 400;
        text-align: center;
        line-height: 0.85;
        text-decoration: none;
        position: absolute;
        top: 1.3em;
        right: 20%;
        opacity: 0;
        transform: translateY(-200%);
        transition: 
            transform 250ms ease-in-out,
            opacity 300ms ease-in-out;
    }

    #rudy-tuesday span {
        color: var(--primary-accent-400);
        /* transition: color 0.25s ease; */
        transition: var(--link-transition);
    }

    #rudy-tuesday:hover span {
        color: var(--display-clr);
        transition: var(--link-transition);
    }
    
    #rudy-tuesday::after {
        z-index: -1;
        content: '\f0c1';
        font-family: "Font Awesome 6 Pro";
        position: absolute;
        font-size: 2.5em;
        opacity: 30%;
        left: 10%;
        bottom: -20%;
        color: var(--primary-accent-400);
        transition: var(--link-transition);
    }

    #rudy-tuesday:hover::after {
        color: var(--primary-accent-600);
        opacity: 80%;
    }

    .hover {
        transition: ease-in 0.25s;
    }

    .chains > * {
        position: absolute;
        height: 120%;
    }

    .chains > :nth-child(1) { left: 5% }
    .chains > :nth-child(2) { left: 10% }
    .chains > :nth-child(3) { left: 20% }
    .chains > :nth-child(4) { right: 15% }
    .chains > :nth-child(5) { right: 10% }
    .chains > :nth-child(6) { right: 5% }

    .desktop-chain {
        transform: translateY(-101%);
        transition: 150ms;
    }

    .chains {
        overflow: hidden;
    }

    .one-chain-1 {
        background-image: var(--one-chain-v-1);
        background-size: contain;
        width: 14px;
    }

    .one-chain-2 {
        background-image: var(--one-chain-v-2);
        background-size: contain;
        width: 13px;
    }

    .two-chains {
        background-image: var(--two-chain-v);
        background-size: contain;
        width: 28px;
    }

    #header:hover {
        background-image: var(--header-image)
    }

    .menu {
        background-color: var(--aside-clr);
        color: var(--white-clr);
        position: relative;
        margin: 0;
        padding: 0.75em 1em;
        font-size: 1.5rem;
        font-family: var(--display-font);
        text-transform: uppercase;
        text-align: center;
        list-style: none;
    }

    .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .toggle i {
        font-size: 0.8em;
        cursor: pointer;
    }

    .toggle i:hover {
        color: var(--primary-accent-600);
        transition: var(--link-transition);
    }

    .toggle:has(+ .link.active ){
        margin-bottom: 0.75em;
    }

    li a {
        text-decoration: none;
        color: var(--white-clr);
    }
    li a:visited {
    }

    li a:hover {
        color: var(--primary-accent-600);
        transition: var(--link-transition);
        cursor: pointer;
    }

    .link {
        margin: auto;
        display: none;
        position: relative;
        padding: 0.5em 0em;
        min-width: 175px;
        z-index: 1;
    }
    
    .link.active,
    .menu .submenu-active {
        background: var(--primary-clr-800);
        display: block;
    }
    .submenu {
        display: none;
        background-color: var(--primary-clr-800);
        list-style: none;
        padding: 1em;
        border-radius: 8px;
        height: 0;
        transition: height 1s ease;
        box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 6%);
    }

    .submenu-active {
        display: block;
        padding-bottom: 0.25em;
        position: relative;
        height: auto;
    }

    .has-submenu a {

    }

    .has-submenu > a::after {
        content: '\f103';
        color: white;
        font-family: 'Font Awesome 6 Pro';
        display: inline-block;
        font-weight: bold;
		font-size: 1.25rem;
		margin-left: 0.5rem;   
        transition: transform 200ms ease;
    }

    .has-submenu > a:hover::after {
        color: var(--primary-accent-600);
        transition: var(--link-transition);
    }
    
    .submenu-active > a::after {
        transform: rotateX(180deg); 
    }

    .sublink {
        background: var(--primary-clr-600);
        padding: 0.5em;
    }



    .link:nth-child(2),
    .sublink:first-child {
        border-radius: 8px 8px 0px 0px;
    }

    .link:last-child,
    .sublink:last-child {
        border-radius: 0px 0px 8px 8px;
    }

    .image {
        margin: 2rem auto;
        background-color: white;
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }

@media all and (min-width: 700px) {

    .darby {
        left: 25%;
        right: auto;
        margin: 0;
        transition: margin 100ms forwards;
    }
    
    #rudy-tuesday {
        transform: translateY(0%);
        opacity: 1;
        transition: 
            transform 500ms ease-in-out, 
            right 500ms ease-in-out,
            opacity 200ms ease-in-out;
    }

    .desktop-chain {
            transform: translateY(0);
            transition: 150ms;
        }

    .menu {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: space-evenly;
    }

    .link {
        display: block;
        background-color: var(--aside-clr);
        margin: 0;
	}
    
    .link.active {
        background-color: var(--aside-clr);
    }

    .has-submenu.submenu-active {
        background-color: var(--primary-clr-800);
        border-radius: 8px 8px 0px 0px;
    }

    .submenu {
        border-top: 0;
        position: absolute;
        z-index: 9;
        min-width: 175px;
        top: 100%;
        left: 0;
        padding: 0;
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0px 2px 1px 1px hsl(0, 0%, 0%, 0.3);
    }

    .sublink {
        background-color: var(--primary-clr-800);
        padding: 0;
        margin: 0.5em;  
    }

    [data-theme="dark"] .link.active {
        background: var(--primary-clr-900);
    }

    .sublink:last-child {
        margin-bottom: 0.75em;
    }

    .image {
        margin: 2rem auto;
    }
    
    .toggle {
        display: none;
    }
}

@media all and (min-width: 1000px) {

    .darby {
        left: 30%;
        right: auto;
        transition: left 500ms ease;
    }

    #rudy-tuesday {
        left: auto;
        right: 30%;
        transition: var(--link-transition);
    }
}

</style>

<script>

const toggle = document.getElementById("lock");
const menuLinks = document.querySelectorAll(".link");
const hasSubmenu = document.querySelectorAll(".has-submenu");

// open mobile menu

toggle?.addEventListener("click", () => {
    menuLinks.forEach((link) =>  
    link.classList.toggle("active"));
    hasSubmenu.forEach((submenuLink) => {
        let submenu = submenuLink.querySelector(".submenu");
        submenuLink.classList.remove("submenu-active");
        submenu?.classList.remove("submenu-active");
    });
    if (toggle.classList.contains("fa-lock")) {
        toggle.classList.remove("fa-lock");
        toggle.classList.add("fa-unlock-keyhole");
    } else {
        toggle.classList.remove("fa-unlock-keyhole");
        toggle.classList.add("fa-lock");
    };
});

// open submenus

function openSubmenu(submenuLink) {
    let submenu = submenuLink.querySelector(".submenu");
        if (submenuLink?.classList.contains("submenu-active")) {
            submenuLink?.classList.remove("submenu-active");
            submenu?.classList.remove("submenu-active");
        } else {
            submenuLink?.classList.add("submenu-active");
            submenu?.classList.add("submenu-active");
        }
        if (submenuLink.classList.contains("submenu-active")) {
            menuLinks.forEach((menuLink) => {
                menuLink.classList.add("active");
                toggle?.classList.remove("fa-lock");
                toggle?.classList.add("fa-unlock-keyhole");
            });
        } 
    };

hasSubmenu.forEach((submenu => submenu.addEventListener("click", function(){openSubmenu(submenu)})))
hasSubmenu.forEach((submenu => submenu.addEventListener("keypress", function(){openSubmenu(submenu)})))

// const submenus = document.querySelectorAll(".submenu");

// function closeSubmenu(menus) {
//   menus.forEach((menu) => {
//     if (menu.classList.contains("submenu-active")) {
//         let openMenu = menu;
//         let clickMenu = openMenu.contains(menu.target);
//         if (clickMenu) {
//             console.log("clicked the submenu")
//         } else {
//             console.log("clicked outside of the submenu")
//         }
//     if (!clickMenu && openMenu) {
//         console.log("click outside open submenu")
//     } else {
//         console.log("false");
//     }
//     closeSubmenu(submenus)
//     }}
// )}

</script>