---
import { getCollection } from "astro:content";
import { formatDate, sortByUploadDate } from "../utility/utils";

const entries = await getCollection("entries");
---
<div class="uploads">
    <h2>RECENT UPLOADS</h2>
    <ul class="scrollbox">
        {
            entries.sort(sortByUploadDate).map((entry) =>
            <li>
                <a href={`/archive/entries/${entry.slug}/`}><b>{formatDate(entry.data.date)}</b> : {entry.data.title}
                    <div class="icons">
                            { entry.data.Nsfw && <i class="fas fa-ban" role="img" aria-label="adult content"></i> }
                            { entry.data.Dd && <i class="fas fa-feather" role="img" aria-label="dead dove"></i> }
                            { entry.data.uploadDate > new Date("2024-03-01") && <i class="fas fa-sparkles" role="img" aria-label="dead dove"></i> }
                    </div>
                </a>
            </li>
            )
        }
    </ul>
</div>

</aside>

<style>

    b {
        font-family: var(--display);
        font-weight: normal;
    }

    h2 {
        font-family: var(--display);
        text-align: center;
    }

.uploads {
    background: var(--primary-clr-dark);
    color: var(--white-clr);
    padding: 2rem 1rem;
    margin: auto;
}

.scrollbox {
    background: var(--primary-clr-med);
    overflow: scroll;
    overflow-x: hidden;
    text-wrap: wrap;
    height: 278px;
    list-style: none;
    margin: 2em auto 0em auto;
    padding: 0.25em 0.5em;
    text-align: left;
    border-radius: 0.5em;
    max-width: 500px;
}

.scrollbox li {
    margin: 0.25em;
    border-bottom: 1px dotted #fff;
}

.icons {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0em 0.25em;
}

.scrollbox i {
    margin: 0em 0.125em;

}

@media all and (min-width: 700px) {

    .scrollbox {
        margin-inline: 1.5em;
    }

}


</style>
