---
import '../utility/styles/main-styles.css'
import '../utility/styles/form-styles.css'
---
<div class="theme-switch-wrapper">
    <button aria-label="theme switch"></button>
</div>

<style>

    :root {
        --lightbulb: "\e5a7";
    }

    html[data-theme="dark"] {
        --lightbulb: "\e5a6";
    }
    
    button {
        display: grid;
        place-items: center;
        position: fixed;
        padding: 0;
        top: 1.5em;
        right: 1.5em;
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 100%;
        text-decoration: none;
        color: var(--white-clr);
        background: var(--aside-clr);
        opacity: 35%;
        transition: ease all 0.2s;
        outline: transparent;
        border: transparent;
        z-index: 9;
    }

    button::after {
        content: var(--lightbulb);
        font-family: 'Font Awesome 6 Pro';
        display: block;
        margin: auto;
        font-weight: 900;
        font-size: 1.5rem; 
    }

    button:hover,
    button:focus {
        opacity: 100%;
        color: var(--primary-accent-600);
    }

    </style>
    
<script>

const toggleSwitch = document.querySelector('[aria-label="theme switch"]');

toggleSwitch?.addEventListener("click", () => {
    let theme = document.documentElement.getAttribute('data-theme');
    if (!theme || theme === "light") {
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem("theme", "dark");
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
        localStorage.setItem("theme", "light");
    }
});

</script>