---
import { getCollection } from "astro:content";
import { formatDate, sortByDate } from "../js/utils.js";

const entries = await getCollection("entries");

function sortByUploadDate(entries) {
    const sort = [...entries];
    // @ts-ignore
    sort.sort((a, b) => new Date(a.data.uploadDate) - new Date(b.data.uploadDate));
    return sort;
}

const sortedEntries = sortByUploadDate(entries);

---

<aside>
    <div class="recent">
        <h2>RECENT UPLOADS</h2>
        <ul class="scrollbox">
            {
                sortedEntries.toReversed().map((entry) =>
                <li>
                    <a href={`/archive/entries/${entry.slug}/`}><b>{formatDate(entry.data.date)}</b> : {entry.data.title}
                        <div class="icons">
                                { entry.data.Nsfw && <i class="fas fa-ban"></i> }
                                { entry.data.Dd && <i class="fas fa-feather"></i>}
    
                        </div>
                    </a>
                </li>
                )
            }
        </ul>
    </div>
</aside>

<style>

aside {
    background: var(--primary-clr-dark);
    color: #fff;
    min-width: 100%;
}

h2 {
    font-family: var(--display);
    text-align: center;
    margin: 1em;
}

.scrollbox {
    background: var(--primary-clr-med);
    overflow: scroll;
    overflow-x: hidden;
    text-wrap: wrap;
    height: 200px;
    list-style: none;
    margin: 2em;
    padding: 0.25em 0.5em;
    text-align: left;
    border-radius: 0.5em;
}

a {
    transition: ease color 250ms;
}

a:hover {
    color: var(--primary-accent-clr)
}

b {
    font-family: var(--display);
    font-weight: normal;
}

li {
    margin: 0.25em;
    border-bottom: 1px dotted #fff;
}

.icons {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0em 0.25em;
}

i {
    margin: 0em 0.125em;

}

</style>