aside {
    background: var(--primary-clr-dark);
    color: white;
}

.viewport {
    margin: 3em auto 4em auto;
}

.column-wrapper {
    padding-top: 3.5em;
}

.column-wrapper h2 {
    text-align: center;
    margin: 1em;
}

.column-wrapper ul.sidebar-links {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.column-wrapper ul.sidebar-links li {
    padding: 0;
    margin-bottom: 0.75em;
}

.column-wrapper ul li:last-child {
    margin-bottom: 0;
}

.rightColumn .column-wrapper {
    margin-top: 0;
}

.column-wrapper p {
    text-align: center;
    text-wrap: balance;
}

.column-wrapper h2,
.column-wrapper p a,
.column-wrapper ul.sidebar-links li a {
    font-family: var(--display);
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    transition: var(--link-transition);
}

.column-wrapper ul.sidebar-links li a:hover {
    color: var(--primary-accent-clr);
    transition: var(--link-transition);
}

.column-wrapper h2 {
    font-size: 1.625rem;
}

.column-wrapper ul li::marker {
    content: ''
}

.column-wrapper p:last-child {
    margin: 0;
    padding-bottom: 3em;
}

@media all and (min-width: 1000px) {

    .column-wrapper {
        padding-top: 1.5em;
    }

    .column-wrapper ul {
        margin-bottom: 1em;
    }

}