.scrollbox {
    margin: 1em 2em;
    border: 2px solid #000;
    border-radius: 1em;
    overflow: auto;
    overflow-x: hidden;
    /* padding: 1em; */
    background: var(--__background);
}

.scrollbox-light,
.scrollbox-light a {
    --__background: var(--white-clr);
    --__font-color: black;

}

.scrollbox-dark {
    --__background: var(--primary-clr-dark);
}


.scrollbox-s { height: 150px }
.scrollbox-m { height: 250px }
.scrollbox-l { height: 350px }

.scrollbox-li a:hover,
.scrollbox-li a:hover .fa-feather {
    color: var(--primary-accent-clr) !important;
}

.uploads {
    background: var(--primary-clr-dark);
    color: var(--white-clr);
    padding: 2rem 1rem;
    margin: auto;
}

/* .scrollbox {
    background: var(--primary-clr-med);
    overflow: scroll;
    overflow-x: hidden;
    text-wrap: wrap;
    height: 278px;
    list-style: none;
    margin: 2em auto 0em auto;
    padding: 0.25em 0.5em;
    text-align: left;
    border-radius: 0.5em;
    max-width: 500px;
} */

.scrollbox-list {
list-style: none;
padding: 0;
}

.scrollbox a {
    color: var(--__font-color);
    text-decoration: none;
}

.scrollbox-list b {
    font-size: 1.05rem !important;
}

.scrollbox li {
    margin: 0.25em 0.5em;
    border-bottom: 1px dotted var(--primary-clr-light);
}

.icons {
display: inline-block;
font-size: 0.9rem;
padding: 0em 0.25em;
}

.scrollbox i {
margin: 0em 0.125em;

}

@media all and (min-width: 700px) {

/* .scrollbox {
    margin: 2em auto;
} */

}
