.scrollbox {
    background: var(--__background);
    color: var(--__font-color);
    max-width: 100%;
    margin: 1em 0em;
    /* padding: 0.25em 0.5em; */
    overflow: auto;
    overflow-x: hidden;
    border: var(--__border);
    border-radius: 1em;
}

.scrollbox-light {
    --__background: var(--bg-clr);
    --__font-color: var(--body-clr);
    --__border: 2px solid #000;
}

.scrollbox-dark {
    --__background: var(--textbox-clr);
    --__font-color: var(--white-clr);
    padding: 0.25em 0.5em;
}

.scrollbox-s { height: 150px }
.scrollbox-m { height: 250px }
.scrollbox-l { height: 350px }
.scrollbox-rss { height: 750px; width: 800px;}

.scrollbox-rss {
    padding: 0;
}

.scrollbox-li a:hover,
.scrollbox-li a:hover i {
    color: var(--primary-accent-600);
}

.column-wrapper .scrollbox {
    list-style: none;
    margin: 3em 1em 0em 1em;
}

.scrollbox-list {
    list-style: none;
    padding: 0;
}

.scrollbox-light li {
    margin: 0.25em 0.5em;
    border-bottom: 1px dotted var(--primary-clr-light);
}
.scrollbox-dark li {
    margin: 0.25em 0.5em;
    border-bottom: 1px dotted var(--white-clr);
}

.icons {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0em 0.25em;
}

.scrollbox i {
    margin: 0em 0.125em;
}

.scrollbox-rss p {
    margin: 1em 0em;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    overflow: hidden;
}

@media all and (min-width: 700px) {

    .scrollbox {
        margin: 1em 1em;
    }

    .column-wrapper .scrollbox {
        list-style: none;
        margin: 3em 1em 1em 1em;
    }

}
