[role="tabpanel"] {
    border: 2px solid var(--primary-clr-dark);
    padding: 1em;
    border-radius: 0em 1em 1em 1em;
}

[role="tabpanel"] h3 {
    margin-block: 1em 0.75em;
}


.tabs-nav {
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
   color: red;
}

.panels-container {
   position: relative;
}

.panel {
   display: none;
   width: 100%;
   opacity: 0;
   visibility: hidden;
}

.tab-label {
   display: block;
   cursor: pointer;
}


.tab-wrapper {
   display: flex;
   align-items: center;
   justify-content: left;
   padding: 0;
   width: 100%;
}
