.tags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25em;
    padding: 0;
    list-style: none;
    /* margin: 1em; */
}

.tags-cloud {
    align-items: center;
    justify-content: center;
}

.tags li {
    background-color: var(--primary-clr-dark);
    color: var(--white-clr);
    padding: 0.125em 0.3em 0.4em 0.3em;
    font-family: var(--display);
    text-transform: uppercase;
    line-height: 1.125;
    border-radius: 0.25em;
}

.tags li a {
    transition: var(--link-transition);
}

.tags li a:hover {
    color: var(--primary-accent-clr);
}