/* card wrappers */

.card-wrapper {
    margin: var(--__wrapper-margin);
    max-width: var(--__wrapper-width);
}

[class="card-wrapper"] {
    --__margin: 1em auto;
    --__max-width: 750px;
    /* border: orangered solid 1px; */
    /* display: grid;
    gap: 1em; */
}

.entry-card-wrapper {
    --__wrapper-margin: 1em;
    --__wrapper-width: 800px;
}

.archive-card-wrapper {
    --__wrapper-margin: 0 1em;
    --__wrapper-width: 100%;
}

.tile-masonry-wrapper {
    --__wrapper-margin: 3em 2em;
    --__wrapper-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2.5em 1.5em;
    justify-items: center;
    justify-content: center;
}

@media all and (min-width: 700px) {

    .entry-card-wrapper {
        --__wrapper-margin: 0 auto;
    }
}

@media all and (min-width: 1000px) {

    .archive-card-wrapper {
        --__wrapper-margin: 0 1em;
        --__wrapper-width: 800px;
    }
    
    .entry-card-wrapper {
        --__wrapper-margin: 0 1em;
    }

}

@media all and (min-width: 1250px) {

    .archive-card-wrapper {
        --__wrapper-margin: 0 auto;
    }
    
    .entry-card-wrapper {
        --__wrapper-margin: 0 auto;
    }

}

@media all and (min-width: 700px) {

    .two-card-flex {
        --__wrapper-margin: auto;
        --__wrapper-width: 800px;

        display: flex;
        flex-flow: row wrap;
        gap: 1.25em;
        align-items: center;
        justify-content: center;
    }
}

/* projects */

/* .card-masonry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
} */
/* .card-masonry {
    display: grid;
    gap: 1em;
    max-width: 100%;
} */
/* .card-masonry {
    margin: 3em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.5em;
    height: 100%;
} */ 


/* layout wrappers */

    /* three column layout */

@media all and (min-width: 1250px) {

	.three-column {
		display: grid;
		grid-template-columns: 300px 1fr 300px;
		grid-template-areas: 'left middle right'
	}

	.leftColumn {
		grid-area: left
	}

	.rightColumn {
		grid-area: right;
	}

	main {
		grid-area: middle;
	}

}

/* other */

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}