---
import CardConstruction from '../../components/cards/CardConstruction.astro';
import Construction from '../../layouts/Construction.astro'
import '../../utility/styles/form-styles.css';
---

<Construction>
    <CardConstruction>
        <p>this is the future home of information about my original characters</p>
        <p>i hope you are looking forward to it</p>
    </CardConstruction>
    <button onclick="history.back()">RETURN</button>
</Construction>