---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Navbar.astro';
import Tags from '../components/Tags.astro';
import Footer from '../components/Footer.astro';

import '../utility/reset.css';
import '../utility/utils.js';
// import '../utility/styles/main-styles.css';
import '../utility/styles/aside-styles.css';
import Scrollbox from '../components/Scrollbox.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

	</head>
	
	<body>

		<Header />

		<div class="left-column">

			<main>
				<h1>ARCHIVE</h1>
				<slot />
			</main>

			<aside>
				<div class="image"></div>
				<Scrollbox />
				<Tags />
			</aside>

		</div> 
		
		<Footer />
		
	</body>
</html>

<style>

	h1 {
		font-family: var(--display);
		text-align: center;
		font-size: 2rem;
		margin-block: 2em;
	}
	
	main {
		margin: auto;
		width: 100%;
		position: relative;
	}

	main::before,
	main::after {
		content: '';
		background-image: url('/imgs/chain_1_horizontal.png');
		display: block;
		width: 100%;
		height: 20px;
	}

	main::before {
		top: 0;
		margin-block: 0.25em 3em;
	}

	main::after {
		position: absolute;
		bottom: 0;
		margin-block: 3em 0.25em;
	}

	.columns {
		display: grid;
	}
	
	.image {
		display: none;
	}


	@media all and (min-width: 720px) {}
	
	@media all and (min-width: 1000px) {

	.left-column {
		display: grid;
		grid-template-areas: 
			"header main"
			"sidebar main"
			"footer footer";
		grid-template-columns: 400px 1fr;
		gap: 0;
		grid-template-rows: max-content 1fr max-content;
	}


		main {
			grid-area: main;
			margin: 0 auto;
		}

		aside {
			grid-area: sidebar;
		}

		footer {
			grid-area: footer;
		}
		
		#header {
			grid-area: header;
		}

		.image {
			display: block;
			margin: 3rem auto;
			background-color: white;
			height: 150px;
			width: 150px;
			border-radius: 100%;
    }


	}

</style>
