---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Sidebar from '../components/Sidebar.astro'
import ArchiveSidebar from '../components/ArchiveSidebar.astro';
import Filters from '../components/Filters.astro';
import Tags from '../components/Tags.astro';

import '../utility/reset.css'
import RecentUploads from '../components/RecentUploads.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">

	</head>
	
<body>
	<div class="columns">
		<Sidebar class="sidebar" id="header" />
		<main>
			<h1>ARCHIVE</h1>
			<slot />
		</main>
		<div class="sidebar-wrapper">
			<Filters />
			<RecentUploads />
			<Tags />
		</div>
		<footer>
			<p>all works belong to rudy tuesday unless otherwise specified. unauthorized use and duplication is prohibited.</p>
		</footer>
	</div> 
</body>
</html>

<style>

	h1 {
		font-family: var(--display);
		font-size: 2.75rem;
		margin: 1.5em auto;
		text-align: center;
	}
	
	main {
		margin: auto;
		width: 100%;
		position: relative;
	}

	main::before,
	main::after {
		content: '';
		background-image: url('/imgs/chain_1_horizontal.png');
		display: block;
		width: 100%;
		height: 20px;
	}

	main::before {
		top: 0;
		margin-block: 0.25em 3em;
	}

	main::after {
		position: absolute;
		bottom: 0;
		margin-block: 3em 0.25em;
	}

	.columns {
		display: grid;
	}

	.fa-ban {
		color: var(--primary-accent-clr);
	}
	
	.fa-feather {
		color: var(--primary-clr-light);
	}

	footer {
		text-align: center;
        background-color: var(--primary-clr-dark);
        color: var(--white-clr);
        padding: 1em;
		text-wrap: balance;
    }

	@media all and (min-width: 720px) {}
	
	@media all and (min-width: 1000px) {

	.columns {
		display: grid;
		grid-template-areas: 
			"header main"
			"archive-sidebar main"
			"footer footer";
		grid-template-columns: 400px 1fr;
		gap: 0;
		grid-template-rows: max-content 1fr max-content;
	}


		main {
			grid-area: main;
			margin: 0 auto;
		}

		.sidebar-wrapper {
			grid-area: archive-sidebar;
		}
		
		#header {
			grid-area: header;
		}

		footer {
			grid-area: footer;
		}
	}

</style>
