---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Sidebar from '../components/Sidebar.astro'
import ArchiveSidebar from '../components/ArchiveSidebar.astro';

import '../css/reset.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
		<link rel="stylesheet" href="../css/reset.css">


	</head>
	
<body>
	<div class="columns">
		<Sidebar class="sidebar" id="header" />
		<main>
			<h1>ARCHIVE</h1>
			<slot />
		</main>
		<ArchiveSidebar class="sidebar" id="tags"/>
		<footer>
			<p>all works belong to rudy tuesday unless otherwise specified. unauthorized use and duplication is prohibited.</p>
		</footer>
	</div> 
</body>
</html>

<style>

	h1 {
		font-family: var(--display);
		margin: 1.5em auto;
		text-align: center;
	}
	
	main {
		margin: auto;
	}

	.columns {
		display: grid;
	}

	.fa-ban {
		color: var(--primary-accent-clr);
	}
	
	.fa-feather {
		color: var(--primary-clr-light);
	}

	footer {
		text-align: center;
        background-color: var(--primary-clr-dark);
        color: var(--white-clr);
        padding: 1em;
    }

	@media all and (min-width: 720px) {}
	
	@media all and (min-width: 1000px) {

	.columns {
		display: grid;
		grid-template-areas: 
			"header main"
			"uploads main"
			"tags main"
			"footer footer";
		grid-template-columns: 400px 1fr;
	}


		main {
			grid-area: main;
			margin: 0 auto;
		}

		#header {
			grid-area: header;
		}

		#uploads {
			grid-area: sidebar;
		}

		#tags {
			grid-area: tags;
			max-width: 10%;
		}

		header, aside {
			padding-bottom: 2em;
		}

		footer {
			grid-area: footer;
		}
	}

</style>
