---
import '../utility/reset.css';
import '../utility/styles/main-styles.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator}/>
		<meta charset="UTF-8"> 

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>UNDER CONSTRUCTION</title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
	</head>

    <body>
        <main>
<slot />
        </main>
    </body>
</html>

<style>

    :root {

        --primary-clr-900: hsl(0, 0%, 7%);
        --primary-clr-800: hsl(283, 10%, 14%);
        --primary-clr-light: hsl(263, 10%, 20%);
        --primary-clr-200: hsl(261, 10%, 40%);

        --primary-accent-600: #F40662;
        --primary-accent-600-clr: #BF95A5;
        /* --primary-accent-600-clr: #8b7e83; */
        --white-clr: #ffffff;

        --bg-clr: #FBFBFB;
        --display-font: "Darumadrop One";
        --body: 'Averia Libre';

        }

    main {
        height: 100vh;
        margin: auto;
        display: grid;
        place-items: center;
        text-align: center;
    }

    h1 {
        margin: 0em 1em 1em 1em;
    }

    p {
        margin: 1em;
    }

    button {
        margin: 0.5em 0.5em 0.25em 0.5em;
    }

    .uue {
        margin: 3em auto;
    }

</style>