---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../utility/reset.css';
import Header from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import MetaTags from '../components/MetaTags.astro';
import ToTop from '../components/ToTop.astro';

---

<!doctype html>
<html lang="en">
	<head>

	<MetaTags />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
	
	</head>
	
	<body>
		<Header />
			<slot />
		<Footer />
		<ToTop />
	</body>

</html>

<style is:global>

:root {

    --primary-clr-dark: hsl(0, 0%, 7%);
    --primary-clr-med: hsl(283, 10%, 14%);
    --primary-clr-light: hsl(263, 10%, 20%);
    --primary-clr-200: hsl(261, 10%, 40%);

    --primary-accent-clr: #F40662;
    --primary-link-clr: #BF95A5;
    --white-clr: #ffffff;

    --bg-clr: #FBFBFB;
    --display: "Darumadrop One";
    --body: 'Averia Libre';
	
	--link-transition: 200ms;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

	h1, h2, h3, h4 {
		font-family: var(--display);
		text-align: center;
	}
	h1 {
		font-size: 2rem;
		margin-block: 1.5em 1em;
	}
	h2 {
		font-size: 2rem;
		margin: 1.5em 0em;
	}
	
    h3 {
		margin-block: 1em 0.75em;
		/* text-align: left; */
        text-align: left;
        font-size: 1.5rem;
        margin-left: 0.75em;
    }



	h4 {
		font-size: 1.325rem;
		font-family: var(--display);
		margin: 1.25em auto 1em auto;
		text-align: center;
	}

	b,
	article b {
		font-family: var(--display);
		font-size: 1.125rem;
		font-weight: normal;
		text-transform: uppercase;
	}

	a:hover {
		color: var(--primary-accent-clr);
	}

	.external::after {
		display: inline-block;
		content: "\f08e";
		font-family: "Font Awesome 6 Pro";
		font-size: 0.8em;
		padding-left: 0.3em;
		font-weight: 900;
	}

	em {
		color: var(--primary-clr-light);
		padding-left: 0.3em;
	}

	main {
		margin: auto;
		width: 100%;
		position: relative;

	}

	main::before,
	main::after {
		content: '';
		background-image: url('/imgs/chain_1_horizontal.png');
		display: block;
		width: 100%;
		height: 20px;

	}

	main::before {
		top: 0;
		margin-block: 0.25em 5em;
	}

	main::after {
		bottom: 0;
		margin-block: 5em 0.25em;
	}

	section:not(:last-of-type)::after {
		content: '';
		background-image: url('/imgs/chain_1_horizontal.png');
		display: block;
		width: 100%;
		height: 20px;
		margin-block: 5em;
	}

	/* form styling */

	form {
		display: grid;
		gap: 2em;
		margin: 2em 1em;
		justify-content: center;
	}

	form label {
		font-family: var(--display);
		font-size: 1.325rem;
		text-align: center;
		position: relative;
	}

	label:has(+ [aria-required="true"])::after,
	.fa-asterisk {
		content: "\2a";
		font-family: 'Font Awesome 6 Pro';
		font-size: 0.825rem;
		display: inline-block;
		padding-left: 0.5em;
		position: absolute;
		bottom: 0;
		color: var(--primary-accent-clr);
		font-weight: bold;
	}

	.fa-asterisk {
		padding-inline: 0.125em;
		position: relative;
	}

	button,
	input[type="submit"] {
		background-color: var(--primary-clr-dark);
		color: var(--white-clr);
		margin: auto;
		padding: 0.125em 0.75em 0.3em 0.75em;
		font-family: var(--display);
		text-transform: uppercase;
		font-size: 1.5rem;
		line-height: 1.5;
		border-radius: 1rem;
		border-color: #000;
		width: 8em;
		cursor: pointer;
		/* transition: color 100ms ease; */
	}

	button[role="tab"] {
		border-radius: 1rem 1rem 1rem 0rem;
		width: fit-content;
	}
	
                
	button:hover,
	input[type="submit"]:hover {
		color: var(--primary-accent-clr); 
	}

	input[type="text"],
	input[type="email"],
	textarea {
		margin: auto;
		width: 25ch;
		border-radius: 1em;
		padding: 0.325em 1em;
		font-family: inherit;
	}

	textarea {
		max-width: 50ch;
	}

	.fa-ban {
		color: var(--primary-accent-clr);
	}
	
	.fa-feather {
		color: var(--primary-clr-200);
	}

	@media all and (min-width: 720px) {

	textarea {
		width: 35ch;
	}
		
	}

	@media all and (min-width: 1000px) {}
	

</style>
