---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../utility/reset.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
	
	</head>
	
	<body>

		<slot />
		<footer>
			<ul class="bottom-nav">
				<li><a href="">ABOUT</a></li>
				<li><a href="">SITEMAP</a></li>
				<li><a href="">WEB SERIES</a></li>
				<li><a href="">TOYBOX</a></li>
				<li><a href="">SUBSCRIBE</a></li>
				<li><a href="">TIP JAR</a></li>
				<li><a href="">CONTACT</a></li>
				<li><a href="">RSS</a></li>
			</ul>
			<p>all works belong to rudy tuesday unless otherwise specified. unauthorized use and duplication is prohibited.</p>
		</footer>
	</body>

</html>

<style is:global>

	h1 {
		font-size: 2rem;
		font-family: var(--display);
		margin-block: 1.5em 1em;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		font-family: var(--display);
		margin: 1.5em 0em;
		text-align: center;
	}

	h3 {
		font-size: 1.325rem;
		font-family: var(--display);
		margin: 1.25em auto 1em auto;
		text-align: center;

	}

	h4 {
		font-size: 1.325rem;
		font-family: var(--display);
		margin: 1.25em auto 1em auto;
		text-align: center;
	}

	b {
		font-family: var(--display);
		font-size: 1.125rem;
font-weight: normal;
        color: black !important;
    }
	

	main {
		margin: auto;
		width: 100%;
		position: relative;
	}

	main::before,
	main::after {
		content: '';
		background-image: url('/imgs/chain_1_horizontal.png');
		display: block;
		width: 100%;
		height: 20px;

	}

	main::before {
		top: 0;
		margin-block: 0.25em 5em;
	}

	main::after {
		bottom: 0;
		margin-block: 5em 0.25em;
	}

	section:not(:last-of-type)::after {
		content: '';
		background-image: url('/imgs/chain_1_horizontal.png');
		display: block;
		width: 100%;
		height: 20px;
		margin-block: 5em;
	}

	.fa-ban {
		color: var(--primary-accent-clr);
	}
	
	.fa-feather {
		color: var(--primary-clr-light);
	}

	footer {
		text-align: center;
        background-color: var(--primary-clr-dark);
        color: var(--white-clr);
        padding: 1em;
		text-wrap: balance;
    }

	.bottom-nav {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 1em;
		list-style: none;
		gap: 1em;
		font-family: var(--display);
		font-size: 1.5rem;
	}




	@media all and (min-width: 720px) {}
	


	@media all and (min-width: 1000px) {

	}

</style>
