---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../utility/reset.css';
import '../utility/styles/form-styles.css';
import '../utility/styles/main-styles.css'

import Header from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
// import MetaTags from '../components/MetaTags.astro';
import ToTop from '../components/ToTop.astro';

---

<!doctype html>
<html lang="en">
	<head>

		<meta 
		name="viewport" 
		content="width=device-width" 
		/>
		<meta 
			name="generator" 
			content={Astro.generator}
		/>

		<meta charset="UTF-8"> 

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
	
	</head>
	
	<body>
		<Header />
			<slot />
		<Footer />
		<ToTop />
	</body>

</html>

<style>

:root {

    --primary-clr-dark: hsl(0, 0%, 7%);
    --primary-clr-med: hsl(283, 10%, 14%);
    --primary-clr-light: hsl(263, 10%, 20%);
    --primary-clr-200: hsl(261, 10%, 40%);

    --primary-accent-clr: #F40662;
    --primary-link-clr: #BF95A5;
    --white-clr: #ffffff;

    --bg-clr: #FBFBFB;
    --display: "Darumadrop One";
    --body: 'Averia Libre';
	
	--link-transition: 200ms;

}

	@media all and (min-width: 720px) {

	textarea {
		width: 35ch;
	}
		
	}

	@media all and (min-width: 1000px) {}
	

</style>
