---
// interface Props {
// 	title: string;
// }

// const { title } = Astro.props;

import '../utility/reset.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>MY WORKS / </title>
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Darumadrop+One&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
	
	</head>
	
	<body>
			<slot />
			<footer>
				<p>all works belong to rudy tuesday unless otherwise specified. unauthorized use and duplication is prohibited.</p>
			</footer>
	</body>
</html>

<style is:global>

	:root {
		--primary-clr-dark: #111;
        --primary-clr-med: #241F26;
        --primary-clr-light: #645280;

        --primary-accent-clr: #F40662;
        --primary-link-clr: #BF95A5;
        --white-clr: #ffffff;

        --bg-clr: #FBFBFB;
        --display: "Darumadrop One";
		--body: 'Averia Libre';
	}

	*,
	*::before,
	*::after {
	box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	
	body {
		background: var(--bg-clr);
		font-color: var(--primary-clr-dark);
		font-family: var(--body);
		line-height: 1.6;
		font-size: 1rem;
	}

	body, h1, h2, h3, h4, p,
	figure, blockquote, dl, dd {
		margin: 0;
	}

	h1, h2, h3, h4,
	button, input, label {
		line-height: 1.1;
	}

	h1, h2, h3, h4 {
		text-wrap: balance;
		text-transform: uppercase;
		font-weight: normal;
	}

	ul[role='list'],
	ol[role='list'] {
  		list-style: none;
	}

	a:not([class]) {
		text-decoration: none;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	input, button,
	textarea, select {
		font: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}

	h1 {
		font-family: var(--display);
		margin: 1.5em auto;
		text-align: center;
	}

	.fa-ban {
		color: var(--primary-accent-clr);
	}
	
	.fa-feather {
		color: var(--primary-clr-light);
	}

	footer {
		text-align: center;
        background-color: var(--primary-clr-dark);
        color: var(--white-clr);
        padding: 1em;
    }

	@media all and (min-width: 720px) {}
	


	@media all and (min-width: 1000px) {

	}

</style>
